.loginbody{
    height:100vh;
    background-color: antiquewhite;
}


.loginContainer{
    margin-left: 500px; 
    width: 400px;
}

.loginContainer > form {
    padding-top: 80px;
}

.loginPage{
    margin-left: 140px;
}